gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks

# Dart & Flutter specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies.json
.packages
.pub/
.pub-cache/
build/

# Flutter build outputs
build/

# IDE-specific
.vscode/
.idea/
*.iml

# Miscellaneous
*.log
*.tmp

# Operating System files
.DS_Store
Thumbs.db
